.Notify {
    text-align: left;
    text-decoration: none;
    display: block;
    background: rgb(223, 223, 223);
    margin: 3px 0;
    padding: 4px;
    border-radius: 5px;

    span {
        font-weight: 700;
    }


}