.RightBar {
    height: 100%;
    overflow-y: auto;
    width: 360px;
    margin-right: 20px;
    padding-top: 10px;
    position: absolute;
    right: 0;
    z-index: 5;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 10px;

    }

    &:hover {
        &::-webkit-scrollbar-thumb {
            background: rgb(203, 203, 203);
            border-radius: 10px;

            &:hover {
                background: rgb(164, 164, 164);
            }
        }
    }

    .RightBar__title {
        font-weight: 600;
        text-align: left;
        padding-left: 12px;
        color: rgb(104, 104, 104);
    }
}