.Post__header {
    display: flex;
    justify-content: space-between;

    .Post__header__left {
        display: flex;
        text-decoration: none;

        .Post__info {
            margin-left: 10px;

            h4 {
                color: rgb(39, 39, 39);
                font-weight: 700;
            }

            p {
                text-align: left;
                color: rgb(129, 129, 129);
                font-weight: 600;
                font-size: 15px;
                margin-top: 2px;
            }
        }
    }

    .Post_options {
        position: absolute;
        top: calc(100% + 4px);
        background: white;
        padding: 2px;
        border-radius: 10px;
        box-shadow: 0 5px 15px -7px rgb(0 0 0 / 75%);
        cursor: auto;
        left: 50%;
        transform: translateX(-50%);
    }
}

.Post__text {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

.Post__photos {

    img {
        width: 100%;
    }
}