.LoginForm {
    width: 950px;
    flex: 1;
    background: #F0F2F5;
    display: flex;
    align-items: center;
    justify-content: center;

    .LoginForm__slogan {
        h1 {
            color: #1877F2;
            font-size: 50px;
            text-align: left;
        }

        p {
            color: #1c1e21;
            font-size: 24px;
            text-align: left;
        }
    }

    form {
        width: 400px;
        border-radius: 10px;
        box-shadow: 0 5px 10px -7px rgb(0 0 0 / 75%);
        background: white;
        padding: 10px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;

        input {
            width: 100%;
            margin: 10px 0;
            padding: 14px 16px;
            border-radius: 5px;
            outline: none;
            border: 1px solid #ccc;
            font-size: 17px;

            &:last-of-type {
                background: #1877f2;
                cursor: pointer;
                color: white;
                font-size: 20px;
                font-weight: 700;
                border-color: #1877f2;
                transition: .1s;

                &:hover {
                    background: #166fe5;
                    border-color: #365899;
                }
            }
        }

        .errorMessage {
            color: red;
            font-size: 14px;
            height: 20px;
        }

        .forgotPassword {
            font-size: 14px;
            text-decoration: none;
            color: #1877f2;
            cursor: pointer;
            padding-bottom: 20px;
            border-bottom: 1px solid #ccc;

            &:hover {
                text-decoration: underline;
            }
        }

        button {
            margin-top: 20px;
            width: 100%;
            margin: 10px 0;
            padding: 14px 16px;
            border-radius: 5px;
            outline: none;
            border: none;
            font-size: 17px;
            background: #42b72a;
            border-color: #42b72a;

            color: #fff;
            font-weight: 700;
            cursor: pointer;
            transition: .1s;

            &:hover {
                background: #36a420;
                border-color: #36a420;
            }
        }

    }
}